@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
  
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #a3a0a0;
  --color-darkcyan: #22959c;
  --color-dimgray: #7b7272;
  --color-goldenrod: #e0ad3a;

  /* Border radiuses */
  --br-8xs: 5px;
}
